.simulate-error-button {
  background-color: #ff2505;
  color: #7d2a2a;
  font-weight: bold;
  text-transform: uppercase;
  padding: 0.75rem 2rem;
  border: 0.2rem solid #a63c3c;
  border-radius: 0.75rem;
  cursor: pointer;
  box-shadow: 0.25rem 0.25rem 0 #7d2a2a;
  transition: all 0.1s ease-in-out;
  width: 10rem;
}

.simulate-error-button:hover {
  background-color: #fb0000;
  transform: translate(-0.125rem, -0.125rem);
  box-shadow: 0.375rem 0.375rem 0.375rem #7d2a2a;
}

.simulate-error-button:active {
  transform: translate(0.125rem, 0.125rem);
  box-shadow: 0 0 0 #7d2a2a;
}
